body {
  background-color: #e6ecf0;
}

hmtl, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0
}

.error {
  color: #F44336;
}

.navbar {
  background-color: #fff;
  padding: 7px 0;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

.navbar ul {
  width: 1000px;
  margin: 0 auto;
}

.navbar ul:after {
  content: "";
  display: block;
  clear: both;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  width: calc(100% / 3);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  float: left;
}

.navbar ul li:first-child {
  text-align: left;
}

.navbar ul li:last-child {
  text-align: right;
}

.navbar ul li a {
  color: #20232a;
  text-decoration: none;
  display: inline-block;
  padding: 8px 10px;
}

.navbar ul li img {
  background-color: #20232a;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.navbar input[type="color"] {
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    background: none;
    height: 30px;
    width: 30px;
}

.profile {
  margin-bottom: 25px;
  text-align: center;
}

.profile img {
  border-radius: 100%;
  border: solid;
}

.profile input {
  margin-top: 5px;
  font-size: 18px;
  width: 100%;
  font-weight: 700;
  border: none;
  text-align: center;
}

.color-pick {
  position: relative;
}

.colorpicker {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  outline: none;
  margin-right: 5px;
}

.twitter-picker {
  position: absolute!important;
  right: 0;
  top: 50px;
}

.twitter-picker>div {
  left: unset!important;
  right: 12px;
}

.container>div {
  border: 1px solid #e6ecf0;
  padding: 20px 15px;
}

.left-sidebar form ul {
  margin-top: 8px;
  text-align: right;
}

.left-sidebar form ul li {
  display: inline-block;
  margin-left: 10px;
}

.left-sidebar form ul li span {
  font-size: 13px;
}

.left-sidebar form ul li button {
  border: none;
  padding: 8px 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 40px;
  z-index: 1;
}

.text-input {
  width: 100%;
  padding: 5px;
  border-width: 2px;
  font-size: 14px;
  border-radius: 4px;
}

.container {
  padding-top: 20px;
  width: 1000px;
  margin: 0 auto;
}

.container>div {
  background-color: #fff;
  float: left;
}

.container:after {
  content: "";
  display: block;
  clear: both;
}

.left-sidebar, .right-sidebar {
  width: 260px;
}

.main {
  margin: 0 10px;
  width: calc(1000px - 540px);
}

.single-content:first-of-type {
  margin-top: 0;
}

.single-content:last-of-type {
  border-bottom: none;
}

.single-content {
  position: relative;
  display: block;
  padding-left: 50px;
  border-bottom: solid 1px #e6ecf0;
  margin-top: 20px;
  padding-bottom: 20px;
}

.single-content img {
  position: absolute;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #999;
  top: 0;
  border-radius: 100%;
}

.single-content h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.single-content p {
  margin: 0;
}

.single-content ul {
  margin-top: 10px;
}

.single-content ul li {
  list-style: none;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(0,0,0,.5);
}

.single-content button {
  border: none;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.hashtag-area h3 {
  margin: 0;
  padding-bottom: 10px;
}

.hashtag-area ul li {
  list-style: none;
  margin: 10px 0;
  font-weight: 700;
}

.hashtag-area ul li a {
  text-decoration: none;
}

.hashtag-main .title {
  margin: 0;
  color: #fff;
  padding: 15px 20px;
  margin-bottom: 25px;
}

.hashtag-main h3 {
  margin: 0;
}

.hashtag {
  text-decoration: none;
}

footer {
  width: 1000px;
  margin: 0 auto;
}

footer ul {
  text-align: center;
}

footer ul li {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0,0,0,.5);
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  padding: 50px 0;
}

footer ul li a {
  background-color: #20232a;
  color: #fff;
  text-decoration: none;
  padding: 2px 5px;
  border-radius: 4px;
}

footer ul li:after {
  content: "";
  position: relative;
  background-color: rgba(0,0,0,.5);
  height: 4px;
  top: -3px;
  margin: 0 10px;
  width: 3px;
  border-radius: 100%;
  display: inline-block;
}

footer ul li:last-child:after {
  display: none;
}
